{{!-- {{#if loggedIn}} --}}
<section class="recipe">
  {{! BELOW NEEDS TO BEUPDATED TO REFLECT RECIPES RATHER THAN PAINTINGS }}
  <img src="{{recipe.picture}}" alt="{{recipe.name}}" />
  <div class="recipe-details">
    <h3>{{recipe.name}}</h3>
    {{! // DO WE WANT AN AUTHOR/USER ID FIELD? }}
    <p>By: {{recipe.user.name}}</p>
    <p>Ingredients: {{recipe.ingredients}}</p>
    <p>Instructions: {{recipe.instructions}}</p>
  </div>
</section>
{{!-- {{else}}
<a href="/login">You must login first to view this page</a>
{{/if}} --}}