<section class="card">
  <a href="/recipe/{{id}}">
    <header>{{title}}</header>

    <div class="card-body">
      <img src="/images/{{filename}}" alt="{{description}}">
      {{!-- DO WE WANT THIS TO BE USERNAME? --}}
      <p>By: {{artist}}</p>
    </div>
  </a>
</section>