<div class="columns is-multiline">
  {{#each recipes}}
    <div class="column is-one-third">
      <a href="/full-recipe/{{id}}"> <!-- Link to the full recipe page -->
        <div class="card">
          <div class="card-image">
            <figure class="image is-4by3">
              <img src="{{picture}}" alt="Recipe Image">
            </figure>
          </div>
          <div class="card-content">
            <p class="title is-4">{{name}}</p>
            <p class="subtitle is-6">By {{user_name}}</p>
            <div class="content">
              <p>{{ingredients}}</p>
              <p>{{instructions}}</p>
            </div>
          </div>
        </div>
      </a>
    </div>
  {{/each}}
</div>

<script src="/views/api/recipesApi.js"></script>