
  {{!-- //New Recipe Form --}}
  <div id="new-recipe-container" class="section">
    <h2 class="title is-4">
        Add your recipe below!
    </h2>
    <form class="new-recipe-form">
        <div class="field">
            <label for='user_name' class="label">
                Please enter your user name:
            </label>
            <div class="control">
                <textarea id='user_name' name='user_name' class="textarea" rows='1' cols='30'>
                    {{user_name}}
                </textarea>
            </div>
        </div>

        <div class="field">
            <label for='name' class="label">
                Dish Name:
            </label>
            <div class="control">
                <textarea id='name' name='name' class="textarea" rows='1' cols='30'>
                    {{dish_name}}
                </textarea>
            </div>
        </div>

        <div class="field">
            <label for='ingredients' class="label">
                Please list ingredients:
            </label>
            <div class="control">
                <textarea id='ingredients' name='ingredients' class="textarea" rows='10' cols='30'>
                    {{ingredients}}
                </textarea>
            </div>
        </div>

        <div class="field">
            <label for='instructions' class="label">
                List the steps for your recipe:
            </label>
            <div class="control">
                <textarea id='instructions' name='instructions' class="textarea" rows='10' cols='30'>
                    {{instructions}}
                </textarea>
            </div>
        </div>

        <div class="field">
            <label for="picture" class="label">
                Include a link to the image you want for your recipe:
            </label>
            <div class="control">
                <textarea id='picture' name="picture" class="textarea" rows="1" cols="30">
                    {{picture}}
                </textarea>
            </div>
        </div>

        <div class="field">
            <label for='meal_classification' class="label">
                Select the meal category for your recipe:
            </label>
            <div class="control">
                <div class="select">
                    <select id="meal-classification">
                        <option value="breakfast">Breakfast</option>
                        <option value="lunch">Lunch</option>
                        <option value="dinner">Dinner</option>
                        <option value="dessert">Dessert</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="field">
            <div class="control">
                <button type='submit' value='Submit' class="button is-info">
                    Submit
                </button>
            </div>
        </div>

{{! //New Recipe Form }}
<div id="new-recipe-container">
  <h2>
    Add your recipe below!
  </h2>
  <form class="new-recipe-form">
    <label for="user_name">
      Please enter your user name:
    </label>
    <br />
    <textarea id="user_name" name="user_name" rows="2" cols="30">
      {{user.name}}
    </textarea>
    <br />
    <label for="dish_name">
      Dish Name:
    </label>
    <br />
    <textarea id="dish_name" name="dish_name" rows="2" cols="30">
      {{name}}
    </textarea>
    <br />
    <label for="ingredients">
      Please list ingredients:
    </label>
    <br />
    <textarea id="ingredients" name="ingredients" rows="10" cols="30">
      {{ingredients}}
    </textarea>
    <br />
    <label for="instructions">
      List the steps for your recipe:
    </label>
    <br />
    <textarea id="instructions" name="instructions" rows="10" cols="30">
      {{instructions}}
    </textarea>
    <br />
    <label for="picture">
      Include a link to the image you want for your recipe:
    </label>
    <br />
    <textarea id="picture" name="picture" id="" cols="30" rows="2">
      {{picture}}
    </textarea>
    <br />
    <label for="meal_classification">
      Select the meal category for your recipe:
    </label>
    <select id="meal-classification">
      <option value="breakfast">Breakfast</option>
      <option value="lunch">Lunch</option>
      <option value="dinner">Dinner</option>
      <option value="dessert">Dessert</option>
      {{meal-classification}}
    </select>
    <br />
    <button type="submit" value="Submit">
      Submit
    </button>
  </form>

</div>

<script src="js/new-recipe.js"></script>